<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crete new listing</title>
</head>
<body>
    <h3>Create new listing</h3>
    <form  method="POST"  action="/listings">
    <input type="text" placeholder="title" name="listing[title]"/>
    <br/><br/>
    <textarea name="listing[description]" placeholder="description" type="text"></textarea>
        <br/><br/>
    <input  placeholder="image url " name="listing[image]" type="String"/>
        <br/><br/>
    <input  placeholder="price" name="listing[price]" type="number"/>
        <br/><br/>
        <input type="text" placeholder="location" type="String">
        <br/><br/>
    <input type="text" placeholder="country" name="listing[country]"/>
    <br/><br/>
    <button> Add</button>
     </form>

</body>
</html>